In [76]:
import os
import alpaca_trade_api as tradeapi
import quandl
import requests
from dotenv import load_dotenv
import pandas as pd
import numpy as np
load_dotenv()
%matplotlib inline

In [77]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
print(alpaca_api_key)

PKMMKPPSHP5TSRX29TNT

In [67]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

# Format current date as ISO format
start_date = pd.Timestamp("2011-05-01", tz="America/New_York").isoformat()
today = pd.Timestamp("2021-01-15", tz="America/New_York").isoformat()

# Set the tickers

#  tickers = ["SPY", "QQQ", "VTI",
#            "SPBO", "JNK", "LQD",
#            "IYR", "VNQ", "USRT",
#            "PSP", "USO", "GLD",
#            "MUB", "MUNI", "PZA",
#            "VMBS", "MBB", "MBG",
#            "TLT", "SCHO", "SHY"
#           ]
ticker = "SPY"
# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get closing prices
df_ETFs = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = today,
    limit=None,
    after=None,
    until=None,
).df

# Preview DataFrame
# YOUR CODE HERE!
#df_ETFs.head()

ETFs_df = pd.DataFrame({'close_'+ticker.lower():df_ETFs[ticker]['close']})
ETFs_df.head()
# Output the data to CSV
#df_ETFs.to_csv("Resources/ETFs.csv", encoding='utf-8', index=True)

In [89]:
tickers = ["SPY", "QQQ", "VTI",
           "SPBO", "JNK", "LQD",
           "IYR", "VNQ", "USRT",
           "PSP", "USO", "GLD",
           "MUB", "MUNI", "PZA",
           "VMBS", "MBB", "MBG",
           "TLT", "SCHO", "SHY"
          ]
start_date = pd.Timestamp("2011-05-01", tz="America/New_York").isoformat()
today = pd.Timestamp("2021-01-15", tz="America/New_York").isoformat()

def get_ticker_prices(ticker):
    # Set timeframe to '1D'
    timeframe = '1D'
    # Make the API cal and store in DataFrame
    data_df = alpaca.get_barset(
        ticker,
        timeframe,
        limit=None,
        after=None,
        until=None,
    ).df
    # Clean DataFrame to show only close prices
    #df = pd.DataFrame({'close_'+ticker.lower():data_df[ticker]['close']})
    a=data_df[ticker]['close']
    return a
result=pd.DataFrame()
for i in tickers:
    result['close_'+i] = get_ticker_prices(i)
    
result.head()

,close_SPY,close_QQQ,close_VTI,close_SPBO,close_JNK,close_LQD,close_IYR,close_VNQ,close_USRT,close_PSP,...,close_GLD,close_MUB,close_MUNI,close_PZA,close_VMBS,close_MBB,close_MBG,close_TLT,close_SCHO,close_SHY
2020-08-26 00:00:00-04:00,347.56,291.88,176.05,35.630,105.86,135.66,81.35,80.84,45.08,11.36,...,183.40,116.05,56.3400,26.75,54.36,110.61,NaN,164.04,51.5300,86.510
2020-08-27 00:00:00-04:00,348.29,290.99,176.46,35.380,105.72,134.61,82.54,82.07,45.89,11.31,...,181.28,115.68,56.2500,26.76,54.33,110.60,NaN,161.26,51.5200,86.500
2020-08-28 00:00:00-04:00,350.54,292.50,177.64,35.445,105.80,134.98,83.08,82.57,46.11,11.37,...,184.39,115.93,56.2700,26.76,54.41,110.69,NaN,161.16,51.5450,86.540
2020-08-31 00:00:00-04:00,349.34,294.99,177.32,35.610,105.75,135.60,82.21,81.73,45.59,11.32,...,184.83,115.98,56.2922,26.74,54.39,110.72,NaN,162.12,51.5511,86.545
2020-09-01 00:00:00-04:00,352.56,299.89,178.95,35.705,105.84,136.16,82.32,81.78,45.60,11.33,...,185.01,115.87,56.2100,26.76,54.34,110.50,NaN,163.91,51.5150,86.490

In [84]:
spy_data = get_ticker_prices("SPY")
QQQ_data = get_ticker_prices("QQQ")
tickers_data = spy_data.join(QQQ_data)
tickers_data.head()

                           close_spy  close_qqq
2011-05-02 00:00:00-04:00     136.23    58.9924
2011-05-03 00:00:00-04:00     135.72    58.6900
2011-05-04 00:00:00-04:00     134.84    58.6000
2011-05-05 00:00:00-04:00     133.64    58.2800
2011-05-06 00:00:00-04:00     134.17    58.4800

In [39]:

api_key_QD = os.getenv("QUANDL_API_KEY")
BTC_data = quandl.get('BCHAIN/MKPRU', start_date='2011-05-01', end_date='2021-01-16',authtoken=api_key_QD)
#USTREASURY_data.to_csv('Resources/USTREASURY1.csv', encoding='utf-8', index=True)
BTC_data.tail()
BTC_data.to_csv("Resources/BTC.csv", encoding='utf-8', index=True)

In [40]:
df_ETFs.head()

                              GLD                                       IYR  \
                             open    high     low    close    volume   open
2011-05-02 00:00:00-04:00  151.46  153.61  150.36  150.410  20951575  62.37
2011-05-03 00:00:00-04:00  150.45  150.97  148.85  149.891  21497844  62.11
2011-05-04 00:00:00-04:00  149.86  150.34  146.76  147.760  30446784  61.72
2011-05-05 00:00:00-04:00  146.81  147.58  142.55  143.430  43631708  60.96
2011-05-06 00:00:00-04:00  145.25  146.09  144.40  145.330  20234099  61.76

                                                            ...    VNQ         \
                            high     low  close     volume  ...   open   high
2011-05-02 00:00:00-04:00  62.61  61.710  62.14  5108111.0  ...  62.13  62.36
2011-05-03 00:00:00-04:00  62.42  61.040  61.72  8180301.0  ...  61.74  62.19
2011-05-04 00:00:00-04:00  61.77  61.103  61.41  7130556.0  ...  61.29  61.49
2011-05-05 00:00:00-04:00  61.79  60.890  61.30  7029691.0  ...  60.71  61.45
2011-05-06 00:00:00-04:00  61.90  60.730  60.91  9163829.0  ...  61.50  61.55

                                                    VTI                       \
                             low  close   volume   open   high    low  close
2011-05-02 00:00:00-04:00  61.40  61.90  2324829  71.04  71.11  70.43  70.56
2011-05-03 00:00:00-04:00  60.69  61.39  1828226  70.43  70.51  69.82  70.17
2011-05-04 00:00:00-04:00  60.75  61.05  1577434  70.18  70.21  69.35  69.68
2011-05-05 00:00:00-04:00  60.52  60.97  1846927  69.27  69.79  68.80  69.10
2011-05-06 00:00:00-04:00  60.29  60.45  2121920  69.79  70.14  69.14  69.39


                            volume
2011-05-02 00:00:00-04:00  1401965
2011-05-03 00:00:00-04:00  1115460
2011-05-04 00:00:00-04:00  1703428
2011-05-05 00:00:00-04:00  1455305
2011-05-06 00:00:00-04:00  1544416

[5 rows x 105 columns]

In [63]:
df_ETFs.index = pd.to_datetime(df_ETFs.index, utc=True).date
df_ETFs.sort_index(inplace=True)
df_ETFs

                 GLD                                        IYR          \
                open    high      low    close    volume   open    high
2011-05-02  151.4600  153.61  150.360  150.410  20951575  62.37  62.610
2011-05-03  150.4500  150.97  148.850  149.891  21497844  62.11  62.420
2011-05-04  149.8600  150.34  146.760  147.760  30446784  61.72  61.770
2011-05-05  146.8100  147.58  142.550  143.430  43631708  60.96  61.790
2011-05-06  145.2500  146.09  144.400  145.330  20234099  61.76  61.900
...              ...     ...      ...      ...       ...    ...     ...
2021-01-11  172.1400  173.68  172.030  173.000   7545031  83.08  83.380
2021-01-12  173.1300  174.18  172.320  174.070   9326911  82.13  82.430
2021-01-13  173.6800  174.46  173.050  173.370  12811187  82.19  83.430
2021-01-14  173.4400  174.22  172.655  173.240  11344351  83.50  84.170
2021-01-15  172.8437  173.07  170.975  171.150  14531685  83.54  84.885

                                    ...    VNQ                         \
               low  close   volume  ...   open     high    low  close
2011-05-02  61.710  62.14  5108111  ...  62.13  62.3600  61.40  61.90
2011-05-03  61.040  61.72  8180301  ...  61.74  62.1900  60.69  61.39
2011-05-04  61.103  61.41  7130556  ...  61.29  61.4900  60.75  61.05
2011-05-05  60.890  61.30  7029691  ...  60.71  61.4500  60.52  60.97
2011-05-06  60.730  60.91  9163829  ...  61.50  61.5500  60.29  60.45
...            ...    ...      ...  ...    ...      ...    ...    ...
2021-01-11  82.065  82.29  3367270  ...  82.53  83.0200  81.68  81.94
2021-01-12  81.460  82.27  4781115  ...  81.86  82.2300  81.23  82.10
2021-01-13  82.190  83.28  8537604  ...  82.22  83.3300  82.21  83.17
2021-01-14  83.140  83.65  4252423  ...  83.44  84.2200  83.13  83.65
2021-01-15  83.260  84.63  5669251  ...  83.46  84.8727  83.18  84.63

                        VTI
             volume    open      high      low   close   volume
2011-05-02  2324829   71.04   71.1100   70.430   70.56  1401965
2011-05-03  1828226   70.43   70.5100   69.820   70.17  1115460
2011-05-04  1577434   70.18   70.2100   69.350   69.68  1703428
2011-05-05  1846927   69.27   69.7900   68.800   69.10  1455305
2011-05-06  2121920   69.79   70.1400   69.140   69.39  1544416
...             ...     ...       ...      ...     ...      ...
2021-01-11  6392535  197.42  199.0600  197.220  198.06  3934414
2021-01-12  7817888  198.37  198.9900  197.340  198.70  3840055
2021-01-13  8129303  198.73  199.5789  198.050  198.92  3477834
2021-01-14  5180799  199.55  200.0300  198.515  198.74  4318502
2021-01-15  3906582  197.96  198.2500  195.975  197.08  3407933

[2445 rows x 105 columns]

In [64]:
ETF_close_prices_df = df_ETFs.loc[:, ['close']]
ETF_close_prices_df

Empty DataFrame
Columns: []
Index: [2011-05-02, 2011-05-03, 2011-05-04, 2011-05-05, 2011-05-06, 2011-05-09, 2011-05-10, 2011-05-11, 2011-05-12, 2011-05-13, 2011-05-16, 2011-05-17, 2011-05-18, 2011-05-19, 2011-05-20, 2011-05-23, 2011-05-24, 2011-05-25, 2011-05-26, 2011-05-27, 2011-05-31, 2011-06-01, 2011-06-02, 2011-06-03, 2011-06-06, 2011-06-07, 2011-06-08, 2011-06-09, 2011-06-10, 2011-06-13, 2011-06-14, 2011-06-15, 2011-06-16, 2011-06-17, 2011-06-20, 2011-06-21, 2011-06-22, 2011-06-23, 2011-06-24, 2011-06-27, 2011-06-28, 2011-06-29, 2011-06-30, 2011-07-01, 2011-07-05, 2011-07-06, 2011-07-07, 2011-07-08, 2011-07-11, 2011-07-12, 2011-07-13, 2011-07-14, 2011-07-15, 2011-07-18, 2011-07-19, 2011-07-20, 2011-07-21, 2011-07-22, 2011-07-25, 2011-07-26, 2011-07-27, 2011-07-28, 2011-07-29, 2011-08-01, 2011-08-02, 2011-08-03, 2011-08-04, 2011-08-05, 2011-08-08, 2011-08-09, 2011-08-10, 2011-08-11, 2011-08-12, 2011-08-15, 2011-08-16, 2011-08-17, 2011-08-18, 2011-08-19, 2011-08-22, 2011-08-23, 2011-08-24, 2011-08-25, 2011-08-26, 2011-08-29, 2011-08-30, 2011-08-31, 2011-09-01, 2011-09-02, 2011-09-06, 2011-09-07, 2011-09-08, 2011-09-09, 2011-09-12, 2011-09-13, 2011-09-14, 2011-09-15, 2011-09-16, 2011-09-19, 2011-09-20, 2011-09-21, ...]

[2445 rows x 0 columns]

In [45]:
ETF_close_prices_df.rename(columns={'GLD.3': 'GLD',}, inplace=True)
ETF_close_prices_df.head()

H:\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

Empty DataFrame
Columns: []
Index: [2011-05-02, 2011-05-03, 2011-05-04, 2011-05-05, 2011-05-06]